<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resultados La Liga</title>
  <link rel="shortcut icon" href="logos/logoPagina.webp" alt="logo" />
  <link rel="stylesheet" href="../static/calendario.css">
</head>

<body>
  <div class="menu">
    <a href="index.html">Inicio</a>
    <a href="noticias.html">Noticias</a>
    <a href="partidosfinalizados.html">Partidos finalizados</a>
    <a href="endirecto.html">Partidos en directo<i class="circle Blink"></i>&nbsp;</a>
    <a href="calendario.html">Calendario</a>
    <a href="equipos.html">Equipos</a>
    <a href="contacto.html">Contacto</a>
    <a href="editarResultado.html">editarResultado</a>
  </div>
  <center>
    <h1>Calendario</h1>
  </center>
  <br><br>

  {% for jornada, dias in evFuturos.items() %}
  <center>
      <h3>{{ jornada }}</h3>
  </center>
  {% for dia, partidos in dias.items() %}
      <center>
          <h4>{{dia}}</h4>
      </center>
      {% for partido in partidos %}
      <div class="resultados">
      <!-- partido -->
          <div class="partido">
              <img src="{{partido.eq2}}.webp" height="60px" width="50px"><br>
              <strong>{{partido.eq1}}</strong>
          </div>
          <div class="goles1">Por disputar</div>
          <div class="VS">
              <h3>VS</h3>
          </div>
          <div class="goles2">Por disputar</div>
          <div class="partido">
              <img src="{{partido.eq2}}.webp" height="60px" width="50px"><br>
              <strong>{{partido.eq2}}</strong>
          </div>
      </div>
      {% endfor %}
  {% endfor %}
</div>
<br><br>
{% endfor %}
</body>

</html>