<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creacion de cuenta</title>
    <script src="sesion.js"></script>
</head>
<body>
    <h1>INICIAR SESIÓN </h1>

    <form action="" method="get">
        <input type="email" name="" id="email" placeholder="Escribe aqui tu email" style="width: 30%; height: auto;"><br><br>
        <input type="password" name="" id="pass" placeholder="Escribe tu contraseña" style="width: 30%; height: auto;"><br><br>
        <button id="boton">Iniciar sesión</button>
    </form>
</body>
</html>